# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
npm-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Prisma
# Keep migrations in git (required for assignment)
# Ignore only local DB artifacts
prisma/dev.db-journal

# Temporary files
*.tmp
*.temp
